/**
 * 
 */
package wyq.other.tool;

import java.lang.*;
import java.util.*;
import java.io.*;
import java.text.*;

/**
 * @author wyq
 * 
 */
public class JavaScript {

	public void main() {
		/*MainScript*/
	}

}
